<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/style.css" />
    <title>Sign In</title>
  </head>
  <body>
    <header></header>
    <main>
      <section>
        <div class="container">
          <div class="sign-in-form">
            <form action="" method="POST">
              <fieldset>
                <legend>Sign in</legend>
                <ul>
                  <li>
                    <label for="username">username/email</label>
                    <input type="text" name="username" id="username" required/>
                  </li>
                  <li>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" required/>
                  </li>
                </ul>
                <button class="btn btn-primary" href="./games.html" type="submit">Sign in</button>
                <!-- <a href="./games.html" class="btn btn-primary">Sign in</a> -->
              </fieldset>
            </form>
          </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
