<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <header></header>
    <main>
      <section>
        <div class="container">
          <div class="sign-in-form">
            <form action="" method="POST">
              <fieldset>
                <legend>Sign up</legend>
                <ul>
                  <li>
                    <label for="username">username</label>
                    <input type="text" name="username" id="username" required/>
                  </li>
                  <li>
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" required/>
                  </li>
                  <li>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" required/>
                  </li>
                  <li>
                    <label for="password">confirm password</label>
                    <input type="password" name="confirmPassword" id="password" required/>
                  </li>
                </ul>



                
                <!-- <button class="btn btn-primary" type="submit">Sign up</button> -->
                <a href="./games.html" class="btn btn-primary" type="submit">Sign up</a>
              </fieldset>
            </form>
          </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
